*{
    padding: 0;
    margin: 0;
}

body{
    background-color: white;
    font-family: sans-serif;
    font-weight: bold;
}
/*estilos del menu izquierdo*/
header nav img#pinterest_icon{
    width: 35px;
    height: 35px;
    padding: 4px;
}


header nav img#pinterest-icon:hover{
    background-color: #e9e9e9;
    border-radius: 150px;
}
/*estilos para la barra de navegacion*/
header nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 98vw;
    height: 80px;
    font-size: 16px;
    padding: 0px 16px;
    position: fixed;
    z-index: 1;
    background-color: white;
}

.first-list{
    display: flex;
}

.first-list a{
    text-decoration: none;
    color: black;
}
.first-list li{
    list-style: none;
    padding: 0px 12px;
}

.first-list li#inicio{
    background-color: black;
    color: white;
    padding: 14px 12px;
    border-radius: 25px;
}
/*Estilos de la barra de busqueda*/
.search{
    flex-grow: 1;
    height: 48px;
    background-color: #e9e9e9;
    border-radius: 30px;
}
.search:hover{
    background-color: #e1e1e1;
}
.search:focus-within{
    border: 4px solid #7fc1ff;
}
/*estilo de linea azul de la barra de busqueda*/
.barra{
    display: flex;
    align-items: center;
    height: 48px;
}

#lupa{
    padding: 13px;
    color: #767676;
    font-size: 20px;
    font-weight: bolder;
}
.barra input{
    border: none;
    background-color: inherit;
    outline: none;
    padding: 0px 8px 0px 0px;
    font-size: 16px;
    flex-grow: 1;
}
/*estilos de los iconos de la derecha*/
.right-items span{
    padding: 8px;
    color: #767676;
    font-size: 28px;
}
.right-items span:hover{
    background-color: #e9e9e9;
    border-radius: 150px;
    cursor: pointer;
}

/*estilos de las cards*/
.contenido{
    position: absolute;
    margin-top: 80px;
    padding-right: 5px;
}

/*estilos a la clase de imagenes, cuatro columnas*/
.imagenes{
    columns: 5 240px;
    margin: auto;
}

.imagenes .card-image{
    position: relative;
    padding: 6px;
}

.imagenes .card-image img{
    min-width: 240px;
    max-width: 24px;
    border-radius: 15px;
}

.card-image:hover > :first-child{
    filter: brightness(60%);
}

/*iconos que se visualizan al tocar la imagen*/
.card-image:hover > * {
    visibility: visible;
    display: inline;
}
/*el padding se controla como las menecillas del reloj*/
button{
    position: absolute;
    left: 57%;
    top: 5%;
    padding: 13px 15px;
    background-color: #e60023;
    border-radius: 30px;
    border: none;
    visibility: hidden;
    display: none;
}

.magenes .cad-imag button a{
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: bold;
}
.oculto-1{
    position: absolute;
    left: 60%;
    bottom: 8%;
    background-color: white;
    font-size: 30px;
    border-radius: 50px;
    color: black;
    font-weight: bold;
    padding: 4px;
    visibility: hidden;
    display: none;
}
.oculto-2{
    position: absolute;
    left: 78%;
    bottom: 8%;
    background-color: white;
    font-size: 30px;
    border-radius: 50px;
    color: black;
    font-weight: bold;
    padding: 4px;
    visibility: hidden;
    display: none;
}

